.container-search{
    padding: 0 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    padding: 0 20px;
}
.search{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid color(rgba 255,255,255,1);
    border-radius: 6px;
    background-color: #ffffff0d;
    padding: 0 20px;
    gap: 10px;
}
.search img{
    height: 20px;
    width: 20px;
}
.search input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}
@media screen and (max-width:768px) {
    .container-search{
        width: 100%;
        box-sizing: border-box;
        margin-top: 15px;
        padding: 0 10px;
    }
    .search{
        height: 50px;
        padding: 0 10px;
        gap: 8px;
    }
    .search img{
        height: 22px;
        width: 22px;
    }
    .search input{
        flex: 1;
        font-size: 18px;
    }
}