.ticket{    
    display: flex;
    flex-direction: row;
        gap: 24px;
        margin-top: 12px;
        padding: 0 20px;
        
    
    }
 .spl{
        color: #9b4fd3;
    }
 .demo{
        color: #2eaf6d;
    }
    .hack{
        color: #e6e8ec;
    }
    .new{
        color: #7c9bf2;
    }
    @media screen and (max-width:652px) {
        .ticket{gap: 6px;
            margin-top: 15px;
            padding: 0 10px;
            font-size: 10px;
        }
    }