.guest{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    }
    .gleft{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    }
    .gright{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    }
    .number{
        font-size: 25px;
        color: #47c97e;
        
        font-weight: 300;
        
    }
    .gleft .label{
        font-size: 16px;
        color: #00ff82;
        font-weight: 300;
    }
    .gright .number1{
        font-size: 19px;
        color: white;
        font-weight: 300;
    }
    .gright .label1{
            font-size: 16px;
            color: #00ff82;
            font-weight: 300;
        }
        @media screen and (max-width:768px) {
            .guest{
                padding: 0 10px;
            }
            .gleft{
                gap:5px;
                margin-top: 10px;
            }
            .gright{
                gap:5px;
                margin-top: 10px;
            }
            .number{
                font-size: 18px;
            }
            .gleft .label{
                font-size: 15px;
            }
            .gright .number1{
                font-size: 12px;
            }
            .gright .label1{
                font-size: 13px;
            }
        }