.main{
 padding: 0 20px;
 box-sizing: border-box;
 width: 100%;
}
.list{
width: 100%;
background-color: #ffffff0a;
border-radius: 10px;
margin-top: 20px;
overflow-y: auto;
padding: 0 1px;
}
.user-list{
display: flex;
justify-content: space-between;
align-items: center;
padding: 12px 20px;
border-bottom: 1px solid rgba(255,255,255,.1);
}
.user-left{
display: flex;
flex-direction: row;
gap: 10px;
}
.name{
font-size: 14px;
font-weight: 400;
color: white;
}
.username{
    font-size: 12px;
    font-weight: 300;
    color: gray;
}
.user-right{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.time{
font-size: 13px;
color: gray;
}
.user-right img{
width: 16px;
height: 16px;
}
@media screen and (max-width:768px) {
    .main{
    padding: 0 10px;
    width: 100%;
   }
   .list{
   width: 100%;
   margin-top: 15px;
   padding: 0 1px;
   }
   .user-list{
   padding: 18px 10px;
   }
   .user-left{
    align-items: center;
   gap: 5px;
   }
   .name{
   font-size: 16px;

   }
   .username{
       font-size: 11px;
   }
   .user-right{
       gap: 10px;
   }
   .time{
   font-size: 10px;
   }
   .user-right img{
   width: 15px;
   height: 15px;
   }
}