.footer{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 40px;
padding: 0 20px 20px;
}
.footer-left{
height: 30px;
}
.footer-right{
display: flex;
gap: 12px;
}
@media screen and (max-width:652px) {
    .footer{
        align-items: center;
        margin-top: 50px;
        padding: 0 20px 20px;
        }
        .footer-left{
        height: 25px;
        }
        .footer-right{
        gap: 15px;
        height:15px ;
        width:15px ;
        margin-right: 90px;
        }
}
