.footer{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 40px;
padding: 0 20px 20px;
}
.footer-left{
height: 30px;
}
.footer-right{
display: flex;
gap: 12px;
}
@media screen and (max-width:768px) {
    .footer{
        margin-top: 30px;
        padding: 0 10px 20px;
        }
        .footer-left{
        height: 25px;
        }
        .footer-right{
        gap: 8px;
        height:10px ;
        width:10px ;
        margin-right: 55px;
        }
}
