.usercontainer {
    display: flex;
    justify-content: space-between;      
    gap: 10px;
    padding: 0 20px;
    margin-top: 20px;
}
.action-button{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 12px;
background-color: #ffffff14;
border: none;
padding: 12px 20px;
font-size: 14px;
font-weight: 400;
color: white;
border-radius: 8px;
cursor: pointer;
width: 500px;
}
@media screen and (max-width: 652px) {
    .usercontainer {
        gap: 10px;
        padding: 0 5px;
        margin-top: 10px;
    }

    .action-button {
        flex: 1 1 calc(50% - 10px); 
        gap: 6px;
        padding: 6px 10px;
        font-size: 12px;
        width: auto;
    }

    .action-button img {
        width: 15px;
        height: 15px;
    }
}