
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter,sans-serif;
}
body{
  color: white;
  font-family: Inter, sans-serif;
margin: 0;
padding: 0;
background: #4d2b7a;
background: linear-gradient(130deg, #4d2b7a, #134533, #111212 40%);
min-height: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
-webkit-backdrop-filter: blur(144px);
backdrop-filter: blur(144px);
display: flex;
flex-direction: column;
justify-content: flex-start;
width: 100%;
}